<!-- Gopan Doshi -->
<meta charset="ISO-8859-1">
<html>

<title>Acknowledgement</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
<div style="background-color: #006633 ">
  <img class="d-block mx-auto " src="/assets/images/gmu_logo.png" alt="George Mason Logo  " width="250" height="150">
</div>
  <div class="container">
    <h2 class="py-2 text-center custom-style">You have submitted the form successfully.</h2> 
    <body >
      <img class="d-block mx-auto " src="/assets/images/thankyou.png" alt="Acknowledgement Logo  ">
            <p *ngIf="list==null">Please give us a moment, fetching data from database...</p>
            <ul *ngFor="let each of list" style="height: 20px;">
                <li (click)="onClick(each)">{{each}}</li>
            </ul>
            

    </body>
    </div>
  

</html>