<!-- Manankumar Thakkar -->
<!--In addition to the data list, there are text boxes, radio buttons, checkboxes, and a drop-down menu. A submit button and a reset button are located at the bottom. -->
<meta charset="ISO-8859-1">

<title>Student Survey Form</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 
<div style="background-color: #006633 ">
      <img class="d-block mx-auto " src="/assets/images/gmu_logo.png" alt="George Mason Logo  " width="300" height="200">
  </div>
  <div class="container">
  <h1 style=" color:  : #FFCC33; margin-left: 10px; border: 5px solid #006633; border-style: solid; box-shadow: 5px 10px 8px #534593;">
    Student Survey Form
  </h1> 
  <h2 style="color:  : #FFCC33; margin-left: 20px; border: 5px solid #FFCC33; border-style: solid;">Enter Your Details Below:</h2>
  <p>
        <em>We would appreciate hearing from you.</em>
      </p>
  <div class="col-md-16">
    <form class="py-3 needs-validation" #studentForm="ngForm" (ngSubmit) = "onSubmit(studentForm)" autocomplete="on" >
      <fieldset>
        <legend>User Information</legend>
            <div class="mb-3">
              <label for="fname">First Name<label style="color: red">*</label></label>
              <div class="input-group">
                <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name"  autofocus  [(ngModel)]="record.fname" #fname="ngModel" required>
              </div>
                <div *ngIf="fname.invalid && (fname.touched||fname.dirty)"  style="color: red;width: 100%;">
                  Please enter your First Name.
                </div>
                <div id="errorfName" style="color: red"></div>
            </div>
            <div class="mb-3">
                <label for="lname">Last Name<label style="color: red">*</label></label>
                <div class="input-group">
                  <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name"  [(ngModel)]="record.lname" #lname="ngModel" required>
                </div>
                  <div *ngIf="lname.invalid && (lname.touched||lname.dirty)" style="color: red;width: 100%;">
                    Please enter your Last Name.
                  </div>
                  <div id="errorlName" style="color: red"></div>
              </div>

              <div class="mb-3">
                <label for="studentid">Student ID<label style="color: red" >*</label></label>
                <div class="input-group">
                  <input type="text" class="form-control" id="studentid" name="studentid" placeholder="G01XXXXXX"   [(ngModel)]="record.studentid" #studentid="ngModel" required>
                </div>
                  <div *ngIf="studentid.invalid && (studentid.touched||studentid.dirty)" style="color: red;width: 100%;">
                    Please enter your Student ID i.e., G#.
                  </div>
                  <div id="errorStudentid" style="color: red"></div>
              </div>

               <div class="mb-3">
                  <label for="address">Street Address<label style="color: red">*</label></label>
                  <input type="text" class="form-control" id="streetaddress" name="streetaddress" placeholder="XXXX Your St"  [(ngModel)]="record.streetaddress" #streetaddress="ngModel" required>
                  <div id="errorStreet" style="color: red"></div>
                  <div *ngIf="streetaddress.invalid && (streetaddress.touched||streetaddress.dirty)" style="color: red;width: 100%;">
                    Please provide a correct street address.
                  </div>
                </div>
        
                <div class="mb-3">
                  <label for="city">City<label style="color: red">*</label></label>
                  <input type="text" class="form-control" id="city" name="city" placeholder="City"  [(ngModel)]="record.city" #city="ngModel" required>
                  <div *ngIf="city.invalid && (city.touched||city.dirty)" style="color: red;width: 100%;">
                    Please enter your city.
                  </div>
                </div>
                <div class="mb-3">
                    <label for="state">State<label style="color: red">*</label></label>
                    <input type="text" class="form-control" id="state" name="state" placeholder="State"  [(ngModel)]="record.state" #state="ngModel" required>
                    <div *ngIf="state.invalid && (state.touched||state.dirty)" style="color: red;width: 100%;">
                    Please enter your state.
                  </div>
                </div>
                <div class=" mb-3">
                    <label for="zipcode">Zipcode<label style="color: red">*</label></label>
                    <input type="number" class="form-control" id="zipcode" name="zipcode" placeholder="00000"  [(ngModel)]="record.zipcode" #zipcode="ngModel" required>
                    <div *ngIf="zipcode.invalid && (zipcode.touched||zipcode.dirty)" style="color: red;width: 100%;">
                    Please enter your zipcode.
                  </div>
                </div>
                <div class="mb-3">
                    <label for="telephone">Telephone number</label>
                    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="(XXX)-XXX-XXXX" [(ngModel)]="record.telephone">
                  </div>
                <div class="mb-3">
                  <label for="email">Email<label style="color: red">*</label></label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="mail@example.com"  [(ngModel)]="record.email" #email="ngModel" required>
                  <div *ngIf="email.invalid && (email.touched||email.dirty)" style="color: red;width: 100%;">
                    Please provide a valid email address.
                  </div>
                  <div id="errorEmail" style="color: red"></div>
                </div>

                  <div class="mb-3">
                    <label for="surveydate">Date of Survey</label>
                    <input type="date" class="form-control" id="surveydate" name="surveydate" placeholder="mm-dd-yyyy" [(ngModel)]="record.surveydate">
                  </div>
        </fieldset>
        <fieldset>
            <legend>Feedback</legend>
                  <h5>What was it about GMU that you liked the most?</h5>
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="students" name="likemost" value="Students" [(ngModel)]="likemost.Students">
                      <label class="custom-control-label" for="students">Students</label>
                    </div>
            
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="location" name="likemost" value="Location" [(ngModel)]="likemost.Location">
                      <label class="custom-control-label" for="location">Location</label>
                    </div>
            
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="campus" name="likemost" value="Campus" [(ngModel)]="likemost.Campus">
                      <label class="custom-control-label" for="campus">Campus</label>
                    </div>
            
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="atmosphere" name="likemost" value="Atmosphere" [(ngModel)]="likemost.Atmosphere">
                      <label class="custom-control-label" for="atmosphere">Atmosphere</label>
                    </div>
            
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="dormrooms" name="likemost" value="Dormrooms" [(ngModel)]="likemost.Dormrooms">
                      <label class="custom-control-label" for="dormrooms">Dorm rooms</label>
                    </div>
            
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="sports" name="likemost" value="Sports" [(ngModel)]="likemost.Sports">
                      <label class="custom-control-label" for="sports">Sports</label>
                    </div>
                    <hr class="mb-4">
        <h5>What piqued your interest in GMU the most?<label style="color: red">*</label></h5>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="friends" name="interestInUniversity" type="radio" class="custom-control-input" value="Friends" [(ngModel)]="record.interestInUniversity">
            <label class="custom-control-label" for="friends">Friends</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="television" name="interestInUniversity" type="radio" class="custom-control-input" value="Television" [(ngModel)]="record.interestInUniversity">
            <label class="custom-control-label" for="television">Television</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="internet" name="interestInUniversity" type="radio" class="custom-control-input" value="Internet" [(ngModel)]="record.interestInUniversity">
            <label class="custom-control-label" for="internet">Internet</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="others" name="interestInUniversity" type="radio" class="custom-control-input" value="Others" [(ngModel)]="record.interestInUniversity">
            <label class="custom-control-label" for="others">Others</label>
          </div>
        </div>

        <hr class="mb-4">
        <h5>Additional Comments</h5>
        <textarea id="comments" name="comments" rows="4" cols="100" [(ngModel)]="record.comments"></textarea>

        <hr class="mb-4">
        <h5>How likely is it that you would recommend GMU to others?</h5>

        <div class="mb-3">
          <select id="recommend" name="recommend" [(ngModel)]="record.recommend">
            <option value="select">--Select--</option>
            <option value="veryLikely">Very Likely</option>
            <option value="likely">Likely</option>
            <option value="unlikely">Unlikely</option>
          </select>
        </div>
      </fieldset>
      <br>
      <div class="row ">
        <button class="col-md-4  btn-lg btn-block w3-green" type="submit" style="margin-right: 5%" value="Submit">Submit</button>
        <button class="col-md-4  btn-lg btn-block w3-yellow" type="reset"  style="margin-right: 10%" value="Reset">Reset</button>
      </div>    
 </form>
 </div>
 <footer>
   <!--fixed logo-->
   <div class="gmu_logo_fixed">
    <a href="https://www.gmu.edu/"><img class="d-block mx-auto mb-4" src="/assets/images/gmu_logo.png" align="right" width="130"></a></div><br/>
 </footer>
</div>